<div class="wrapper">
    <div class="login-container">
        <div class="container-header">
            <h1>Yooo, welcome back!</h1>
        
            <p class="redirect">
                First time here?
                <a routerLink="/register">Sign up</a>
            </p>
        </div>
    
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <input
                    class="el-input"
                    type="text"
                    formControlName="username"
                    placeholder="Username">
    
            </div>
    
            <div class="form-group">
                <input
                    class="el-input"
                    type="password"
                    formControlName="password"
                    placeholder="Password">
            </div>
    
            <div class="remember">
                <label class="neo-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span>Remember me</span>
                </label>
            </div>
            
            <div class="forgot-submit">
                <div class="forgot-password">
                    <a routerLink="/forgot-password">
                        Forgot Password?
                    </a>
                </div>
                <button
                    type="submit"
                    [disabled]="loginForm.invalid || loading" class="btn">
        
                    {{ loading ? 'Signing In...' : 'Sign In' }}
                </button>
            </div>
        </form>
    </div>
</div>